* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f5eadb;
    color: #3b2020;
}


/* HEADER */

header {
    background-color: #742727;
    color: white;
    padding: 25px 50px;
}


header h1 {
    font-size: 32px;
    margin-bottom: 15px;
}


nav {
    display: flex;
    gap: 25px;
}


nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}


nav a:hover {
    text-decoration: underline;
}


/* CONTEÚDO */

main {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}


main h2 {
    font-size: 30px;
    margin-bottom: 30px;
}


/* CARDS */

.produtos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.card-produto {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;
}


.card-produto:hover {
    transform: translateY(-5px);
}


/* IMAGEM */

.imagem-produto {
    height: 220px;
    background-color: #e5d0ac;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 70px;
}


/* INFORMAÇÕES */

.info-produto {
    padding: 20px;
}


.info-produto h3 {
    font-size: 22px;
    margin-bottom: 8px;
}


.info-produto p {
    margin-bottom: 8px;
}


.artista {
    font-weight: bold;
}


.preco {
    font-size: 22px;
    font-weight: bold;
    color: #742727;
    margin-top: 15px;
}


/* BOTÃO */

.info-produto button {
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 6px;

    background-color: #742727;
    color: white;

    font-size: 16px;

    cursor: pointer;

    margin-top: 10px;
}


.info-produto button:hover {
    background-color: #531c1c;
}


/* ERRO */

.erro {
    color: #a00000;
    font-weight: bold;
}


/* RESPONSIVIDADE */

@media (max-width: 800px) {

    .produtos-container {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 500px) {

    header {
        padding: 20px;
    }


    .produtos-container {
        grid-template-columns: 1fr;
    }


    main {
        margin-top: 25px;
    }

}